*.o
!c.o
.swp
__pycache__/
build/
.vscode/
.ipynb_checkpoints/
*.ipynb
python/std/jupyter/migrated
python/std/jupyter/notebook_cookie_secret
.DS_Store
.wsenv/
.venv/
rs.egg-info/
sandbox/
.env
dep/q/m64/pyq-config.q
dep/q/m64/pyq-kernel.p
dep/q/m64/pyq-operators.q
python/std/qpy/libqpy.cpython-36m-darwin.so
notebook/
__qpm__/
*.lock
bin/pm.q